<div class="container">
  <div class="row">
    <div class="center-block">
      <div class="header1">
        <h2>
          Edit Book ISBN: {{ book.bookIsbn }}
        </h2>
      </div>
      <form [formGroup]="editForm">
        <p>Publish Date: {{ book.bookPublishDate }}</p>
        <div class="form-group">
          <label for="bookTitle">Title:</label>
          <input placeholder="Title" name="bookTitle" class="form-control" id="bookTitle" [formControl]="editForm.controls.bookTitle">
          <span *ngIf="editForm.controls.bookTitle.invalid && editForm.controls.bookTitle.touched" style="color:red">Enter Title </span>
        </div><br>

        <div class="form-group">
          <label for="bookAuthor">Author:</label>
          <input placeholder="Author Name" name="bookAuthor" class="form-control"
            id="bookAuthor" [formControl]="editForm.controls.bookAuthor">
            <span *ngIf="editForm.controls.bookAuthor.invalid && editForm.controls.bookAuthor.touched" style="color:red">Enter Author Name [must contain alphabets only]  </span>
        </div><br>      

        <div class="form-group">
          <label for="bookPrice">Price:</label>
          <input placeholder="Price" name="bookPrice" class="form-control" id="bookPrice" [formControl]="editForm.controls.bookPrice">
          <span *ngIf="editForm.controls.bookPrice.invalid && editForm.controls.bookPrice.touched" style="color:red">Enter Valid Book Price </span>
        </div><br>

        <div class="form-group">
          <label for="bookDescription">Description:</label>
          <input placeholder="Description" name="bookDescription"
            class="form-control" id="bookDescription" [formControl]="editForm.controls.bookDescription">
            <span *ngIf="editForm.controls.bookDescription.invalid && editForm.controls.bookDescription.touched" style="color:red">Enter Book Description </span>
          </div><br>

        <button class="button button2" (click)="editBook()">Update</button>
        <div class="form-group">
          <!-- <label for="bookIsbn">ISBN:</label> -->
          <input type="hidden" placeholder="Book ISBN" name="bookIsbn" class="form-control" id="bookIsbn" [formControl]="editForm.controls.bookIsbn">
          <span *ngIf="editForm.controls.bookIsbn.invalid && editForm.controls.bookIsbn.touched" style="color:red">Enter ISBN </span>
        </div>

        <div class="form-group">
          <!-- <label for="bookPublishDate">Publish Date:</label> -->
          <input type="hidden" placeholder="Publish Date" name="bookPublishDate"
            class="form-control" id="bookPublishDate" [formControl]="editForm.controls.bookPublishDate">
            <span *ngIf="editForm.controls.bookPublishDate.invalid && editForm.controls.bookPublishDate.touched" style="color:red">Enter Book PublishDate [yyyy-mm-dd]</span>
          </div>
      </form>
    </div>
  </div>
</div>